*~
*.sw?
*.class
classjava.stamp
test_runner
common/config.hpp
cppcheck-result.xml
vera++-result.xml
build/*
server/t/reports/*
*.so
*.bis.cpp
lex.*.cpp
server/website*/storage/*
\#*\#
bindings/python/Test/__pycache__
gcov.output.data
tools/lemmatizers/sfst/data/tr.a
tools/lemmatizers/lamerlemma/data/*.bin
tools/lexica/bilexicon/data/*.bin
tools/lexica/mapper/data/*.bin
tools/taggers/metagger/t/files/pl.blm
bindings/python/Test/test.pyc
tools/parsers/gobio/data/pl/rules.g
